@media (max-width: 768px) {

  /* ===== GERAL ===== */

    body {
        font-size: 10px;
    }

    img {
            max-width: 100%;
            height: auto;
        }

    /* ===== HEADER ===== */
    .header__top {
        flex-direction: column;
        text-align: center;
        gap: 5px;
        font-size: 12px;
    }

    .header__main {
        display: flex;
        gap: 20px;
    }

    .header__logo img {
        width: 70px;
        height: auto;
    }

    .header__logo {
        margin-left: 0;
    }

    .header__nav ul{
        display: flex;
        gap: 5px;
        align-items: center;
    }
    .header__icons {
        margin-right: 10px;
        gap: 17px;
        justify-content: center;
    }

    .header__icons img {
        width: 25px;
        height: auto;        
    }

    /* ===== HERO ===== */
    .hero {
        padding: 80px 20px;
    }

    .hero__title {
        font-size: 1.3rem;
    }

    .hero__subtitle {
        font-size: 1.2rem;
    }

    /* ===== CATEGORIES ===== */
    .categories__title {
        margin-left: 50px;
        text-align: left;
        margin-top: 60px;
        font-size: 2.5rem;
    }

    .categories__list {
        flex-direction: column;
        margin: 0px 20px 30px 60px;
    }

    .categories__card {
        width: 100%;
        margin-left: 0;
        margin-bottom: 30px;
    }

    .categories__card h2{
        font-size: 1.7rem;
    }

    .categories__card p{
        margin-right: 200px;
        margin-top: 12px;
        font-size: 1.1rem;
    }

    .categories__card b{
        font-size: 1.1rem;
    }

    /* ===== BEST SELLERS ===== */

    .best-sellers h1 {
        margin-left: 50px;
        text-align: left;
        margin-top: 60px;
        font-size: 2.5rem;
        margin-bottom: 30px;
    }

    .best-sellers__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .best-sellers__item img{
        width: 65%;
        height: auto;
    }

    .best-sellers__item h3 {
        margin: 0px;
        font-size: 2rem;
    }

    .best-sellers__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;

        width: 100%;
        max-width: 200px;
        margin-top: 10px;
    }

    .best-sellers__item p{
        margin: 0px;
        font-size: 1.3rem;
    }

    .best-sellers__item span {
        margin: 0px;
        font-size: 1.5rem;
        font-weight: 600; 
    }

    .best-sellers__button{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        max-width: 210px;
    }

    /* ===== BOTÕES ===== */
    .button--primary {
        padding: 14px 40px;
        font-size: 1.1rem;
    }

    .button--secondary {
        padding: 8px 20px;
        font-size: 1.1rem;
    }   

    /* ===== BANNER ===== */
    .banner-promo__image {
        margin: 100px 0;
    }

    .banner-promo__image img {
        width: 100%;
    }

    /* ===== CATALOG ===== */
    .catalog h1 {
        text-align: left;
        font-size: 2.5rem;
        margin: 60px 0 30px 50px;
    }

    .catalog__list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 60px;
        margin-left: 0;
        padding: 0 20px 0 80px;
    }

    .catalog__card {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .catalog__card__content{
        width: 100%;
        max-width: 260px;
        display: flex;
        flex-direction: column;
    }

    .catalog__card img {
        width: 70%;
        height: auto;
    }

    /* ===== INFORMATION ===== */
    .information__list {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        padding: 40px 80px;
        gap: 30px;
        text-align: left;
    }

    .information__card h3,
    .information__card ul li{
        width: 100%;
        max-width: 100px;
        font-size: 0.8rem;
    }

    /* ===== FOOTER ===== */
    .information__footer p {
        width: 100%;
        max-width: 500px;
        font-size: 0.7rem;
    }

    footer {
        padding: 20px;
    }

    .footer__item {
        font-size: 0.7rem;
        text-align: center;
        width: 100%;
    }
}


@media (max-width: 480px) {

    /* ===== HEADER ===== */
    .header__top {
        text-align: center;
        gap: 5px;
        font-size: 12px;
    }

    .header__main {
        display: flex;
        gap: 20px;
    }

    .header__logo img {
        width: 100px;
        height: auto;
    }

    .header__logo {
        margin-left: 0;
    }

    .header__nav {
        margin: 0 auto;
    }

    .header__nav ul{
        display: flex;
        gap: 5px;
        align-items: center;
        text-align: center;
    }

    .header__nav ul li a {
        font-size: 1rem;
    }

    .header__icons {
        margin: 10px 0;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

    .header__icons img {
        width: 25px;
        height: auto;        
    }

    /* ===== HERO ===== */
    .hero {
        padding: 80px 20px;
    }

    .hero__title {
        width: 100%;
        padding: 0 10px;
        font-size: 1.2rem;
    }

    .hero__subtitle {
        font-size: 1rem;
    }

    /* ===== CATEGORIES ===== */
    .categories__title {
        margin-left: 50px;
        text-align: left;
        margin-top: 60px;
        font-size: 1.7rem;
    }

    .categories__list {
        flex-direction: column;
        margin: 0px 20px 10px 60px;
    }

    .categories__card {
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
    }

    .categories__card h2{
        font-size: 1.4rem;
    }

    .categories__card p{
        width: 100%;
        max-width: 300px;
        margin-top: 12px;
        font-size: 0.9rem;
    }

    .categories__card b{
        font-size: 1rem;
    }

    /* ===== BEST SELLERS ===== */

    .best-sellers h1 {
        text-align: left;
        margin-top: 60px;
        font-size: 1.7rem;
        margin-bottom: 30px;
    }

    .best-sellers__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .best-sellers__item img{
        width: 54%;
        height: auto;
    }

    .best-sellers__item h3 {
        margin: 0px;
        font-size: 1.7rem;
    }

    .best-sellers__item p{
        margin: 0px;
        font-size: 1.1rem;
    }

    .best-sellers__item span {
        margin: 0px;
        font-size: 1.3rem;
        font-weight: 600; 
    }

    .best-sellers__button{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        max-width: 210px;
    }

    /* ===== BOTÕES ===== */
    .button--primary {
        margin-top: 30px;
        padding: 10px 20px;
        font-size: 1rem;
    }

    .button--secondary {
        padding: 8px 20px;
        font-size: 1rem;
    }

    /* ===== BANNER ===== */
    .banner-promo__image {
        margin: 100px 0;
    }

    .banner-promo__image img {
        width: 100%;
    }

    /* ===== CATALOG ===== */
    .catalog h1 {
        text-align: left;
        font-size: 1.7rem;
        margin: 60px 0 30px 50px;
    }

    .catalog__list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 60px;
        margin-left: 0;
        padding: 0 45px;
    }

    .catalog__card {
        font-size: 0.7rem;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .catalog__button .button--secondary{
        padding: 5px 10px;
        font-size: 0.7rem;
    }

    .catalog__card__content{
        width: 100%;
        max-width: 200px;
        display: flex;
        flex-direction: column;
    }

    .catalog__card img {
        width: 100%;
        height: auto;
    }

    /* ===== INFORMATION ===== */

    .logo__image img {
        width: 110px;
        height: auto;
    }

    .information__top-link{
        font-size: 0.8rem;
    }

    .information__list {
        width: 100%;
        padding: 40px 80px;
        gap: 30px;
        text-align: left;
    }

    .information__card h3,
    .information__card ul li{
        width: 100%;
        max-width: 100px;
        font-size: 0.6rem;
    }

    /* ===== FOOTER ===== */
    .information__footer p {
        margin: 0 40px;
        width: 100%;
        max-width: 500px;
        font-size: 0.5rem;
    }

    footer {
        padding: 20px;
    }

    .footer__item {
        font-size: 0.5rem;
        text-align: center;
        width: 100%;
    }
}

@media (max-width: 430px){

    /* HEADER */
    .header__logo {
        padding: 0;
    }

    .header__logo img {
        width: 40px;
    }
    
    .header__nav ul li a {
        font-size: 0.6rem;
    }

    .header__icons {
        gap: 7px;
    }

    .header__icons img {
        width: 11px;
        height: auto;        
    }

    /* CATEGORIES */
    .categories__title {
        margin-left: 20px;
        font-size: 1.7rem;
    }

    .categories__list {
        flex-direction: column;
        margin: 0px 20px 30px 20px;
    }

    .categories__card h2{
        font-size: 1.2rem;
    }

    .categories__card p{
        margin-right: 200px;
        margin-top: 12px;
        font-size: 0.8rem;
    }

    .categories__card b{
        font-size: 0.9rem;
    }

    /* BEST-SELLERS */
    .best-sellers h1 {
        margin-left: 20px;
        font-size: 1.7rem;
    }

    .best-sellers__item img{
        width: 70%;
    }

    .best-sellers__item h3 {
        font-size: 1.3rem;
    }

    .best-sellers__content {
        width: 100%;
        max-width: 150px;
    }

    .best-sellers__item p{
        font-size: 1rem;
    }

    .best-sellers__item span {
        font-size: 1.2rem;
    }

    .best-sellers__button{
        max-width: 160px;
    }

    .button--secondary {
        padding: 7px 11px;
        font-size: 1rem;
    } 

    .banner-promo__image {
        margin: 70px 0;
    }

    /* CATALOG */
    .catalog h1 {
        font-size: 1.7rem;
        margin: 10px 0 30px 20px;
    }

    .catalog__list {
        padding: 0 10px 0 40px;
    }

    .catalog__card {
        font-size: 0.5rem;
    }

    .catalog__card img {
        width: 100%;
        height: auto;
    }

    .catalog__button .button--secondary{
        font-size: 0.5rem;
    }

    /* INFORMATION */
    .information__top-link{
        font-size: 0.7rem;
    }

    .information__list {
        width: 100%;
        padding: 40px;
        gap: 30px;
        text-align: left;
    }
}
