/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== BASE ===== */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #fffdfd;
}

/* ===== HEADER ===== */
.header__top {
    display: flex;
    justify-content: space-between;
    background-color: #630000;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fafafa;
}

.header__logo {
    padding: 10px;
    margin-left: 30px;
}

.header__logo img {
    width: 100px;
    height: auto;
}

.header__nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
}

.header__nav a {
    color: #a70c0c;
    text-decoration: none;
    font-size: 20px;
    font-weight: 750;
    position: relative;
    padding-right: 20px;
    padding-bottom: 10px;
}

.header__nav a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #a70c0c;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.header__nav a:hover::after {
    width: 100%;
}

.header__icons {
    display: flex;
    gap: 25px;
    margin-right: 25px;
}

.header__icons img {
    width: 32px;
}

/* ===== HERO ===== */
.hero {
    background-color: #eaeaeb;
    color: #570000;
    text-align: center;
    padding: 200px;
}

.hero__title {
    font-size: 38px;
}

.hero__subtitle {
    margin-top: 21px;
    font-size: 25px;
}

/* ===== CATEGORIAS ===== */
.categories__title {
    color: #191818;
    font-size: 40px;
    margin-left: 67px;
    margin-top: 100px;
}

.categories__list {
    display: flex;
    margin: 60px 60px 100px;
}

.categories__card {
    margin-left: 50px;
    width: 30%;
    padding: 30px;
    background-color: #fff;
}

.categories__card h2 {
    font-size: 27px;
}

.categories__card p,
.categoria__card b {
    font-size: 16px;
}

/* ===== DESTAQUES / MAIS VENDIDOS ===== */
.best-sellers {
    padding: 5px;
}

.best-sellers h1 {
    color: #191818;
    font-size: 40px;
    margin: 10px 0;
    margin-left: 67px;
}

.best-sellers__slider {
    position: relative;
    padding: 5px 60px;
}

.best-sellers__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.best-sellers__item h3 {
    margin-top: 10px;
    font-size: 33px;
}

.best-sellers__item h3,
.best-sellers__item p,
.best-sellers__item span {
    margin-left: 10px;
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    color: #a70c0c;
    font-size: 30px;
    padding: 5px 12px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 2;
}

/* ===== BUTTON ===== */
.button--primary {
    display: inline-block;
    background-color: #a30303;
    color: #fff;
    padding: 17px 70px;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 50px;
    font-size: 22px;
}

.button--secondary {
    display: inline-block;
    background-color: #960909;
    color: #fff;
    padding: 8px 50px;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 15px;
    font-size: 17px;
}

/* ===== CATALOG ===== */
.catalog {
    margin-bottom: 100px;
}

.catalog h1 {
    margin-left: 100px;;
    font-size: 38px;
}

.catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 250px;
    row-gap: 30px;
    max-width: 1200px;
    margin-left: 180px;
}

.catalog__card {
    padding: 15px;
    background-color: #fff;
    font-size: 20px;
}

.catalog__card h3 {
    margin-top: 20px;
}

/* ===== LOGO FINAL ===== */
.logo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo__image img {
    width: 150px;
}

/* ===== IRFORMATION ===== */

.information {
    background-color: #630000;
}

.information__top-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c03434;
    height: 50px;
    color: #ffffff;
    font-size: 15px;
}

.information__list {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
    background-color: #a50303;
    color: #fff;
}

.information__card h3{
    width: 100px;
    color: #fff;
}

.information__card ul li{
    width: 150px;
    list-style: none;
    margin-top: 10px;
}

.information__card a{
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}

.information__footer {
    display: flex;
    justify-content: center;
}

.information__footer p {
    width: 600px;
    padding: 20px;
    text-align: center;
    background-color: #630000;
    color: #fff;
    font-size: 12px;
}

/* ===== FOOTER ===== */

footer {
    background-color: #630000;
    padding: 30px;
}

.footer__item {
    color: #a7a7a7;
    display: flex;
    justify-content: center;
    color: #a7a7a7;
    font-size: 13px;
    padding: 10px 30px;
}
