/* ===== RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

/* ===== BASE ===== */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #fffdfd;
    font-size: 16px;
}

/* ===== HEADER ===== */
.header__top {
    display: flex;
    justify-content: space-between;
    background-color: #630000;
    color: #ffffff;
    font-size: 13px;
    padding: 10px 20px;
}

.header__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fafafa;
}

.header__logo {
    padding: 10px;
    margin-left: 30px;
}

.header__logo img {
    width: 100px;
    height: auto;
}

.header__nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
}

.header__nav a {
    color: #a70c0c;
    text-decoration: none;
    font-size: 20px;
    font-weight: 750;
    position: relative;
    padding-right: 20px;
    padding-bottom: 10px;
}

.header__nav a::after {
    content: "";
    width: 0%;
    height: 2px;
    background-color: #a70c0c;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.header__nav a:hover::after {
    width: 100%;
}

.header__icons {
    display: flex;
    gap: 25px;
    margin-right: 25px;
}

.header__icons img {
    width: 32px;
}

/* ===== HERO ===== */
.hero {
    background-color: #eaeaeb;
    color: #570000;
    text-align: center;
    padding: 200px;
}

.hero__title {
    font-size: clamp(2rem, 4vw, 2.4rem);
}

.hero__subtitle {
    margin-top: 21px;
    font-size: clamp(1.2rem, 3vw, 1.6rem);
}

/* ===== CATEGORIAS ===== */
.categories__title {
    color: #191818;
    font-size: clamp(1.8rem, 4vw, 2.5rem);
    margin-left: 67px;
    margin-top: 100px;
}

.categories__list {
    display: flex;
    margin: 60px 60px 100px;
}

.categories__card {
    margin-left: 50px;
    width: 30%;
    padding: 30px;
    background-color: #fff;
}

.categories__card h2 {
    font-size: clamp(1.4rem, 3vw, 1.7rem);
}

.categories__card p,
.categoria__card b {
    font-size: 1rem;
}

/* ===== DESTAQUES / MAIS VENDIDOS ===== */
.best-sellers {
    padding: 5px;
}

.best-sellers h1 {
    color: #191818;
    font-size: clamp(1.8rem, 4vw, 2.5rem);
    margin: 10px 0;
    margin-left: 67px;
}

.best-sellers__slider {
    position: relative;
    padding: 5px 60px;
}

.best-sellers__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.best-sellers__item h3 {
    margin-top: 10px;
    font-size: clamp(1.3rem, 3vw, 2rem);
}

.best-sellers__item p,
.best-sellers__item span {
    font-size: 1rem;
}

.best-sellers__item h3,
.best-sellers__item p,
.best-sellers__item span {
    margin-left: 10px;
    width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
    color: #a70c0c;
}

/* ===== BUTTON ===== */
.button--primary {
    display: inline-block;
    background-color: #a30303;
    color: #fff;
    padding: 17px 70px;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 50px;
    font-size: clamp(1rem, 2.5vw, 1.4rem);
    border: 3px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    transition: 0.4s ease;
}

.button--primary:hover {
    color: #a30303;
    background-color: #eaeaeb;
    border-color: #a30303;
}

.button--secondary {
    display: inline-block;
    background-color: #960909;
    color: #fff;
    padding: 8px 50px;
    text-decoration: none;
    border-radius: 50px;
    margin-top: 15px;
    font-size: clamp(0.9rem, 2vw, 1.1rem);
    border: 3px solid transparent;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.05);
    transition: 0.4s ease;
}

.button--secondary:hover {
    color: #a30303;
    background-color: #fff;
    border-color: #a30303;
}

/* ===== BANNER PROMO ===== */
.banner-promo__image{
    margin: 200px 0;
}

/* ===== CATALOG ===== */
.catalog {
    margin-bottom: 100px;
}

.catalog h1 {
    margin-left: 100px;;
    font-size: clamp(1.8rem, 4vw, 2.5rem);
}

.catalog__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 250px;
    row-gap: 30px;
    max-width: 1200px;
    margin-left: 180px;
}

.catalog__card {
    padding: 15px;
    background-color: #fff;
    font-size: 1.3rem;
}

.catalog__card img{
    width: 80%;
    height: auto;
}

.catalog__card h3 {
    margin-top: 20px;
}

/* ===== LOGO FINAL ===== */
.logo {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.logo__image img {
    width: 150px;
}

/* ===== IRFORMATION ===== */

.information {
    background-color: #630000;
}

.information__top-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c03434;
    height: 50px;
    color: #ffffff;
    font-size: 15px;
}

.information__list {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
    background-color: #a50303;
    color: #fff;
}

.information__card h3{
    width: 100px;
    color: #fff;
}

.information__card ul li{
    width: 150px;
    list-style: none;
    margin-top: 10px;
}

.information__card a{
    color: #fff;
    text-decoration: none;
    margin-top: 10px;
}

.information__footer {
    display: flex;
    justify-content: center;
}

.information__footer p {
    width: 600px;
    padding: 20px;
    text-align: center;
    background-color: #630000;
    color: #fff;
    font-size: 0.8rem;
}

/* ===== FOOTER ===== */

footer {
    background-color: #630000;
    padding: 30px;
}

.footer__item {
    color: #a7a7a7;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    padding: 10px 30px;
}












@media (max-width: 768px) {

  /* ===== GERAL ===== */

    body {
        font-size: 10px;
    }

    img {
            max-width: 100%;
            height: auto;
        }

    /* ===== HEADER ===== */
    .header__top {
        flex-direction: column;
        text-align: center;
        gap: 5px;
        font-size: 12px;
    }

    .header__main {
        display: flex;
        gap: 20px;
    }

    .header__logo img {
        width: 70px;
        height: auto;
    }

    .header__logo {
        margin-left: 0;
    }

    .header__nav ul{
        display: flex;
        gap: 5px;
        align-items: center;
    }
    .header__icons {
        margin-right: 10px;
        gap: 17px;
        justify-content: center;
    }

    .header__icons img {
        width: 25px;
        height: auto;        
    }

    /* ===== HERO ===== */
    .hero {
        padding: 80px 20px;
    }

    .hero__title {
        font-size: 1.3rem;
    }

    .hero__subtitle {
        font-size: 1.2rem;
    }

    /* ===== CATEGORIES ===== */
    .categories__title {
        margin-left: 50px;
        text-align: left;
        margin-top: 60px;
        font-size: 2.5rem;
    }

    .categories__list {
        flex-direction: column;
        margin: 0px 20px 30px 60px;
    }

    .categories__card {
        width: 100%;
        margin-left: 0;
        margin-bottom: 30px;
    }

    .categories__card h2{
        font-size: 1.7rem;
    }

    .categories__card p{
        margin-right: 200px;
        margin-top: 12px;
        font-size: 1.1rem;
    }

    .categories__card b{
        font-size: 1.1rem;
    }

    /* ===== BEST SELLERS ===== */

    .best-sellers h1 {
        margin-left: 50px;
        text-align: left;
        margin-top: 60px;
        font-size: 2.5rem;
        margin-bottom: 30px;
    }

    .best-sellers__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .best-sellers__item img{
        width: 65%;
        height: auto;
    }

    .best-sellers__item h3 {
        margin: 0px;
        font-size: 2rem;
    }

    .best-sellers__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;

        width: 100%;
        max-width: 200px;
        margin-top: 10px;
    }

    .best-sellers__item p{
        margin: 0px;
        font-size: 1.3rem;
    }

    .best-sellers__item span {
        margin: 0px;
        font-size: 1.5rem;
        font-weight: 600; 
    }

    .best-sellers__button{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        max-width: 210px;
    }

    /* ===== BOTÕES ===== */
    .button--primary {
        padding: 14px 40px;
        font-size: 1.1rem;
    }

    .button--secondary {
        padding: 8px 20px;
        font-size: 1.1rem;
    }   

    /* ===== BANNER ===== */
    .banner-promo__image {
        margin: 100px 0;
    }

    .banner-promo__image img {
        width: 100%;
    }

    /* ===== CATALOG ===== */
    .catalog h1 {
        text-align: left;
        font-size: 2.5rem;
        margin: 60px 0 30px 50px;
    }

    .catalog__list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 60px;
        margin-left: 0;
        padding: 0 20px 0 80px;
    }

    .catalog__card {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .catalog__card__content{
        width: 100%;
        max-width: 260px;
        display: flex;
        flex-direction: column;
    }

    .catalog__card img {
        width: 70%;
        height: auto;
    }

    /* ===== INFORMATION ===== */
    .information__list {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        padding: 40px 80px;
        gap: 30px;
        text-align: left;
    }

    .information__card h3,
    .information__card ul li{
        width: 100%;
        max-width: 100px;
        font-size: 0.8rem;
    }

    /* ===== FOOTER ===== */
    .information__footer p {
        width: 100%;
        max-width: 500px;
        font-size: 0.7rem;
    }

    footer {
        padding: 20px;
    }

    .footer__item {
        font-size: 0.7rem;
        text-align: center;
        width: 100%;
    }
}













@media (max-width: 480px) {

  /* ===== GERAL ===== */

    body {
        font-size: 10px;
    }

    img {
            max-width: 100%;
            height: auto;
        }

    /* ===== HEADER ===== */
    .header__top {
        text-align: center;
        gap: 5px;
        font-size: 12px;
    }

    .header__main {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .header__logo img {
        width: 100px;
        height: auto;
    }

    .header__logo {
        margin-left: 0;
    }

    .header__nav {
        margin: 0 auto 0 80px;
    }

    .header__nav ul{
        display: flex;
        gap: 5px;
        align-items: center;
        text-align: center;
    }

    .header__nav ul li a {
        font-size: 1rem;
    }

    .header__icons {
        margin: 10px 0;
        gap: 30px;
        align-items: center;
        justify-content: center;
    }

    .header__icons img {
        width: 25px;
        height: auto;        
    }

    /* ===== HERO ===== */
    .hero {
        padding: 80px 20px;
    }

    .hero__title {
        width: 100%;
        padding: 0 10px;
        font-size: 1.2rem;
    }

    .hero__subtitle {
        font-size: 1rem;
    }

    /* ===== CATEGORIES ===== */
    .categories__title {
        margin-left: 50px;
        text-align: left;
        margin-top: 60px;
        font-size: 1.7rem;
    }

    .categories__list {
        flex-direction: column;
        margin: 0px 20px 10px 60px;
    }

    .categories__card {
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
    }

    .categories__card h2{
        font-size: 1.4rem;
    }

    .categories__card p{
        width: 100%;
        max-width: 300px;
        margin-top: 12px;
        font-size: 0.9rem;
    }

    .categories__card b{
        font-size: 1rem;
    }

    /* ===== BEST SELLERS ===== */

    .best-sellers h1 {
        text-align: left;
        margin-top: 60px;
        font-size: 1.7rem;
        margin-bottom: 30px;
    }

    .best-sellers__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .best-sellers__item img{
        width: 54%;
        height: auto;
    }

    .best-sellers__item h3 {
        margin: 0px;
        font-size: 1.7rem;
    }

    .best-sellers__item p{
        margin: 0px;
        font-size: 1.1rem;
    }

    .best-sellers__item span {
        margin: 0px;
        font-size: 1.3rem;
        font-weight: 600; 
    }

    .best-sellers__button{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        max-width: 210px;
    }

    /* ===== BOTÕES ===== */
    .button--primary {
        margin-top: 30px;
        padding: 10px 20px;
        font-size: 1rem;
    }

    .button--secondary {
        padding: 8px 20px;
        font-size: 1rem;
    }

    /* ===== BANNER ===== */
    .banner-promo__image {
        margin: 100px 0;
    }

    .banner-promo__image img {
        width: 100%;
    }

    /* ===== CATALOG ===== */
    .catalog h1 {
        text-align: left;
        font-size: 1.7rem;
        margin: 60px 0 30px 50px;
    }

    .catalog__list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 60px;
        margin-left: 0;
        padding: 0 45px;
    }

    .catalog__card {
        font-size: 0.7rem;
        display: flex;
        flex-direction: column;
        text-align: left;
    }

    .catalog__button .button--secondary{
        padding: 5px 10px;
        font-size: 0.7rem;
    }

    .catalog__card__content{
        width: 100%;
        max-width: 200px;
        display: flex;
        flex-direction: column;
    }

    .catalog__card img {
        width: 100%;
        height: auto;
    }

    /* ===== INFORMATION ===== */

    .logo__image img {
        width: 110px;
        height: auto;
    }

    .information__top-link{
        font-size: 0.8rem;
    }

    .information__list {
        width: 100%;
        padding: 40px 80px;
        gap: 30px;
        text-align: left;
    }

    .information__card h3,
    .information__card ul li{
        width: 100%;
        max-width: 100px;
        font-size: 0.6rem;
    }

    /* ===== FOOTER ===== */
    .information__footer p {
        margin: 0 40px;
        width: 100%;
        max-width: 500px;
        font-size: 0.5rem;
    }

    footer {
        padding: 20px;
    }

    .footer__item {
        font-size: 0.5rem;
        text-align: center;
        width: 100%;
    }
}